www/.htaccess
www/.htaccess.sample
www/app/.htaccess
www/app/etc/config.xml
www/app/etc/local.xml
www/app/etc/local.xml.*
www/dev/
www/downloader/
www/includes/.htaccess
www/includes/config.php
www/LICENSE*
www/magmi/
www/media/
www/package.xml
www/php.ini.sample
www/pkginfo/
www/pressure_release/
www/RELEASE_NOTES.txt
www/reports/
www/var/
secure
000