/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 */

body {
    background: #191919 none repeat scroll 0 0;
    color: #2f2f2f;
}
.header {
    width: auto;
}
.header-container {
    background: #191919 none repeat scroll 0 0;
}
.main {
    background: #EFEFEF;
	min-height: 600px;
    width: auto;
}
.col-left {
    width: 15%;
}
.col-main {
    width: 80%;
}
.footer-container {
    background: #191919 none repeat scroll 0 0;
	border-top: 15px solid #7F7F7F;
}